body{
	font-family: caviar dreams;
	margin-left: 20%;
	margin-right: 20%;
	background-color: aliceblue;
}

header{
	background:#444545;
	height: 25%;
}
.title{
	text-transform: uppercase;
	color: #f0d956;
	margin-top: 70px;
	margin-left: 2%;
	position: absolute;

}
header p{
	margin-top: 85px;
	margin-left: 30%;
	position: absolute;
	color: white;
}
.home {
    background-image: url("big_img.jpg");
    height: 400px;
    background-repeat: no-repeat;
    font-size: large;
    padding-left: 2%;
    padding-top: 10px;
    margin-top: 20px;
    background-size: contain;
}
.home p{
	margin-top: -4px;
	margin-left: 2%;
}
.main{
	background-color: white;
	padding-left: 3%;
	padding-top: 10px;
	padding-bottom: 30px;
	background-size: contain;
	margin-top: -50px;
	line-height: 30px;
}
.detail{
	border: black solid 2px;
	width:10%;
	border-radius: 30%;
	height: 40px;
	padding-top: 2%;
	color: white;
	background-color: black;
	text-align: center;

}
.setting{
	background-color: white;
	padding: 6%;
	background-size: contain;
	margin-top: 20px;
	line-height: 30px;
	vertical-align: top;
}
.set{
	text-align: center;
	width: 32%;
	display: inline-block;
}
.set img{
	width: 30%;
	height: auto;
}
.phone{
	background-color: white;
	padding: 10%;
	margin-top: 20px;

}
.phone p{
	width: 30%;
	float: left;
    display: inline-block;
}
.phone img{
	width: auto;
	padding-left: 10%;
	display: inline-block;
	margin-top: -100px;
}
.shoes{
	background-color: white;
	padding: 10%;
	margin-top: 20px;

}
.shoes p{
	width: 30%;
	float: right;
    display: inline-block;
}
.phone img{
	width: auto;
	padding-left: 10%;
	display: inline-block;
	margin-top: -85px;
}
.shoes h2{
	margin-left: 80%;
	
}